# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
myenv/
anaconda_projects/
.conda/

# Data (raw datasets are large)
data/raw/

# Models
*.pkl
*.joblib

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
